.card{
    background: aquamarine;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
}
.numero{
    font-size: 1.5rem;
    margin: 20px 0;
}
button{
    background: #c3002f;
    color:#fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    background: aquamarine;
    color:black;
    font-weight: 900;
}
.btn-reset{
    margin-left: 10px;
}
.meta{
    color:green;
    font-weight: 900;
    margin-top: 15px;
}
.ajuda{
    color:red ;   
    font-weight: 900;
    margin-top: 15px;
}