* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color1: #333;
    --color2: rgb(174, 210, 235);
    --color3: #65cdde;
    --color4: #000;
    --bg: #e9ecef;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color1);
    line-height: 2;
}
header {
    text-align: center;
    color: var(--color3);
    /* CSS nesting- aninhado */
    & strong {
        color: blue;
    }
}
main {
    width: 100%;

}
.form-section {
    background: var(--bg);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    margin: 40px auto;

    h2 {
        text-align: center;
        margin-bottom: 10px;
    }
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
.btn-enviar {
    background: var(--color3);
    color: var(--color1);
    font-size: 1rem;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
address {
    display: flex;
    justify-content: center;
}