.home{
    padding: 60px 0;
    background: linear-gradient(rgba(0,0,0,0.5)),url("../imagem.jpg");
    background-size: cover;
    color:white;
    text-align: center;

    &__title{
        font-size: 2.5rem;
        margin-bottom:20px;
    }
}